.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  width: 34px;
  height: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.game-info ol {
  padding: 5px;
  /* margin-bottom: 1rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-info li {
  list-style-type: none;
  margin-bottom: 1rem;
}

.game-board {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.board-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-status {
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .square {
    font-size: 3rem;
    width: 100px;
    height: 100px;
  }

  .game {
    flex-direction: row;
  }

  .game-board {
    margin-right: 3rem;
    align-self: start;
  }

  .status-info {
    align-self: start;
    min-width: 200px;
  }
}
